<div class="container-fluid profile-header creative">
    <div class="container profile-header">
     <div class="col-md-3 ">
      <div class="profile-image"> 
        <%= image_tag @user.avatar.url(:large) %>
      </div>
    </div>
  </div>
</div>