<h2>Projects</h2>

<% @projects.each do |project| %>
  <div class="project well well-lg">
    <% project.users.each do |user| %>
      <h6><b><%= link_to user.name, user_path(user.id) %></b> @<%= user.username %> • <%= project.created_at.strftime("%b %d") %></h6>
     <% end %>

  <p><%= project.name %></p>

  </div> 
<% end %>