<%= render 'users/creatives/shared/profile_header' %>
<%= render 'users/creatives/shared/profile_nav' %>

<div class="container-fluid profile-main">
  <div class="container">
    <div class="col-md-3 ">
      <%= render 'users/creatives/shared/profile_left' %>
    </div>
    <div class="col-md-9">
        <%= render 'users/creatives/shared/collections' %>
    </div>
  </div>
</div>