.padtop {
  padding-top: 60px;
}

.navbar-inverse {
  background-color: #000;
  border-color: #000;
  border-radius: 0;
}

.primary-nav.navbar-header {
  height: 50px;
}

.navbar-brand {
  float: left;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}

.brand-logo {
  float: left;
}

.brand-mark {
  float: left;
  padding-top: 5px;
  padding-left: 10px;
}

ul.nav.navbar-nav.navbar-right {
  height: 50px;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 28px;
}

ul.dropdown-menu {
  background-color: #fff;
  text-transform: lowercase;
  border-radius: 4px !important;
}

.dropdown-menu > li > a {
  color: #666;
}

.dropdown-menu > li > a:hover {
  color: #fff;
  background-color: #FF3586;
}

a.dropdown-toggle.avatar img, .profile-image img {
  border-radius: 4px;
}

.btn .btn-wide {
  width: 100%;
}

.btn {
  color: #fff;
  background-color: #ff5398;
  border: 0px;
  padding: 4px 10px;
  height: 30px;
  border-radius: 4px;
}

.btn:hover, .btn:focus, .btn.focus, .btn:active, .btn.active, .open > .btn.dropdown-toggle {
  color: #fff;
  background-color: #ff3586;
  border: 0px;
}

.btn-grey {
  background-color: #babcbe;
}

.btn-grey:hover, .btn-grey:focus, .btn-grey.focus, .btn-grey:active, .btn-grey.active, .open > .btn-grey.dropdown-toggle {
  background-color: #a7a9ac;
}

.btn-blue {
  background-color: #58b4f6;
}

.btn-blue:hover, .btn-blue:focus, .btn-blue.focus, .btn-blue:active, .btn-blue.active, .open > .btn-blue.dropdown-toggle {
  background-color: #3fa9f5;
}

.form-inline {
  margin-bottom: 15px;
}

.container .jumbotron, .container-fluid .jumbotron {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 150px;
}

.jumbotron {
  text-align: center;
  background-color: #fff;
}

.jumbotron h1 {
  font-size: 85px;
  line-height: 85px;
}

.jumbotron p {
  margin: 30px;
  font-size: 19px;
  font-weight: 200;
}

main.container-fluid.main-container {
  padding: 50px 0px 0px;
}

.container-fluid.profile-main.edit {
  padding-top: 50px;
}

.container-fluid.profile-header {
  height: 300px;
}

.container-fluid.profile-header.creative {
  background-color: #3fa9f5;
}

.container-fluid.profile-header.member {
  background-color: rgb(255, 50, 50);
}

.secondary-nav.navbar-header {
  width: inherit;
}


.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

a {
  color: #000;
}

a:hover, a:focus, a.focus, a:active, a.active, .open > a.dropdown-toggle {
  color: #ff3586;
}

ul.nav.underscore.navbar-nav > li > a:hover, ul.nav.underscore.navbar-nav > li > a:focus, ul.nav.underscore.navbar-nav > li > a.focus, ul.nav.underscore.navbar-nav > li > a:active, ul.nav.underscore.navbar-nav > li > a.active, .open > ul.nav.underscore.navbar-nav > li > a.dropdown-toggle {
  border-bottom: 4px #000 solid;
  color: #000;
}

ul.nav.navbar-nav > li {
  padding-left: 5px;
}

button.btn.navbar-btn {
  margin-top: 0px;
  margin-bottom: 0px;
}

nav.navbar.navbar-profile.navbar-static-top {
  border-bottom: 1px #ccc solid;
}

nav.navbar.navbar-profile.edit-profile-nav.navbar-fixed-top {
  margin-top: 50px;
  border-bottom: 1px #ccc solid;
  background-color: #fff;
  z-index: 1;
}

.container.flash {
  padding-top: 60px;
}

.mini-profile.well.well-lg {
  width: 290px;
  height: 290px;
  float: left;
  margin: 0px 5px;
}

.nav.form-nav {
  background: #fafafa;
  border-radius: 4px;
  float: left;
  font-size: 15px;
  line-height: 15px;
  overflow: hidden;
  position: fixed;
  margin-top: 20px;
  text-transform: lowercase;
}

.form-nav li a {
  border-left: 2px solid transparent;
  color: #666;
  display: block;
  height: 45px;
  line-height: 45px;
  overflow: hidden;
  padding: 0px 50px 0px 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form-nav li a:hover {
  background: #f6f6f6;
  text-decoration: none;
}

.form-nav li a.active {
  border-left: 2px solid #000;
  color: #1769ff;
  font-weight: bold;
}

.input-group {
  z-index: 0;
}

nav ul > li > .form-actions {
  padding-top: 10px;
}


.navbar-nav.navbar-center {
  width: 100%;
  text-align: center;
  > li {
    float: none;
    display: inline-block;
  }
}

.container.profile-header {
  padding: 20px 0px;
}

.profile-image > img {
  border: 2px solid #fff;
  border-radius: 4px;
}


