<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="119px" height="23.688px" viewBox="0 0 119 23.688" enable-background="new 0 0 119 23.688" xml:space="preserve">
   <title> Design Square</title>
<g>
  <path fill="#FFFFFF" d="M1.75,2.241h5.023c2.575,0,3.824,1.25,3.824,3.825v10.2c0,2.574-1.249,3.824-3.824,3.824H1.75V2.241z
     M5.32,17.029h0.714c0.688,0,0.995-0.305,0.995-0.994v-9.74c0-0.688-0.306-0.995-0.995-0.995H5.32V17.029z"/>
  <path fill="#FFFFFF" d="M18.707,2.241v3.187h-3.06v4.003h2.932v3.187h-2.932v4.284h3.111v3.188h-6.681V2.241H18.707z"/>
  <path fill="#FFFFFF" d="M28.601,13.639v3.289c0,2.219-1.097,3.314-3.315,3.314h-1.989c-2.218,0-3.314-1.096-3.314-3.314v-3.799
    h3.493v3.467c0,0.434,0.204,0.639,0.637,0.639h0.332c0.434,0,0.637-0.205,0.637-0.639v-2.141c0-0.561-0.178-0.842-0.612-1.148
    l-3.06-2.269c-1.097-0.79-1.428-1.53-1.428-2.805v-2.83c0-2.218,1.096-3.314,3.314-3.314h1.938c2.218,0,3.314,1.096,3.314,3.314
    v3.264h-3.493V5.734c0-0.434-0.204-0.638-0.637-0.638h-0.281c-0.433,0-0.637,0.204-0.637,0.638v1.683
    c0,0.561,0.178,0.841,0.612,1.147l3.06,2.27C28.27,11.624,28.601,12.312,28.601,13.639z"/>
  <path fill="#FFFFFF" d="M33.522,20.09h-3.569V2.241h3.569V20.09z"/>
  <path fill="#FFFFFF" d="M39.336,13.001v-2.983h4.615v6.91c0,2.219-1.097,3.314-3.315,3.314h-2.295
    c-2.218,0-3.314-1.096-3.314-3.314V5.403c0-2.218,1.096-3.314,3.314-3.314h2.244c2.218,0,3.314,1.096,3.314,3.314v3.417h-3.519
    V5.785c0-0.433-0.204-0.637-0.637-0.637h-0.51c-0.434,0-0.637,0.204-0.637,0.637v10.76c0,0.434,0.204,0.639,0.637,0.639h0.586
    c0.434,0,0.638-0.205,0.638-0.639v-3.543H39.336z"/>
  <path fill="#FFFFFF" d="M51.066,2.241h3.085V20.09h-3.467L48.439,10.4l0.077,9.689h-3.085V2.241h3.646l2.065,8.873L51.066,2.241z"
    />
  <path fill="#FFFFFF" d="M67.921,13.639v3.289c0,2.219-1.097,3.314-3.314,3.314h-1.989c-2.218,0-3.314-1.096-3.314-3.314v-3.799
    h3.493v3.467c0,0.434,0.203,0.639,0.637,0.639h0.332c0.434,0,0.637-0.205,0.637-0.639v-2.141c0-0.561-0.178-0.842-0.611-1.148
    l-3.06-2.269c-1.097-0.79-1.428-1.53-1.428-2.805v-2.83c0-2.218,1.097-3.314,3.314-3.314h1.938c2.218,0,3.314,1.096,3.314,3.314
    v3.264h-3.494V5.734c0-0.434-0.203-0.638-0.637-0.638h-0.281c-0.433,0-0.637,0.204-0.637,0.638v1.683
    c0,0.561,0.178,0.841,0.611,1.147l3.061,2.27C67.589,11.624,67.921,12.312,67.921,13.639z"/>
  <path fill="#FFFFFF" d="M78.12,16.674c0,1.299-0.383,2.115-1.121,2.574l1.58,0.662l-1.683,2.627l-3.773-2.295h-0.612
    c-2.219,0-3.314-1.096-3.314-3.314V5.403c0-2.218,1.096-3.314,3.314-3.314h2.295c2.219,0,3.314,1.096,3.314,3.314V16.674z
     M73.913,5.148h-0.51c-0.434,0-0.637,0.204-0.637,0.637v10.76c0,0.434,0.203,0.639,0.637,0.639h0.51
    c0.434,0,0.638-0.205,0.638-0.639V5.785C74.551,5.352,74.347,5.148,73.913,5.148z"/>
  <path fill="#FFFFFF" d="M88.372,16.928c0,2.219-1.098,3.314-3.315,3.314H82.89c-2.219,0-3.314-1.096-3.314-3.314V2.241h3.569
    v14.304c0,0.434,0.204,0.639,0.638,0.639h0.383c0.433,0,0.637-0.205,0.637-0.639V2.241h3.57V16.928z"/>
  <path fill="#FFFFFF" d="M98.801,20.09h-3.544l-0.281-2.602h-2.243l-0.255,2.602h-3.238l2.346-17.849h4.87L98.801,20.09z
     M93.063,14.379h1.607l-0.816-7.803L93.063,14.379z"/>
  <path fill="#FFFFFF" d="M108.491,13.945v6.145h-3.57v-6.119c0-0.434-0.204-0.639-0.637-0.639h-0.893v6.758h-3.57V2.241h5.329
    c2.218,0,3.315,1.096,3.315,3.314v3.442c0,1.53-0.562,2.295-1.53,2.652C108.032,11.956,108.491,12.644,108.491,13.945z
     M104.259,5.352h-0.867v4.946h0.867c0.433,0,0.637-0.204,0.637-0.637V5.989C104.896,5.556,104.691,5.352,104.259,5.352z"/>
  <path fill="#FFFFFF" d="M116.573,2.241v3.187h-3.059v4.003h2.932v3.187h-2.932v4.284h3.11v3.188h-6.681V2.241H116.573z"/>
</g>
</svg>